<div class="jumbotron p-3 p-md-5 text-black rounded bg-light">
  <h1 class="display-4 font-italic">Profile</h1>
  <h2> <%= @candidate.name%></h2>
  <br>
  <h4>Personal Summary </h4>
  <p> <%= @candidate.summary %></p>
  <h4>Career History</h4>
  <p><%= @candidate.career_history %></p>
  <h4>Education</h4>
  <p><%= @candidate.education %></p>
  <h4>Skills</h4>
  <p><%= @candidate.skills %></p>
  <% if current_role == "candidate" %>
    <a href="/candidates/<%= @candidate.id %>/edit" class="btn btn-outline-primary">Edit</a>
  <% end %>
  <% if current_role == "candidate" %>
    <form action="/candidates/<%= @candidate.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-outline-danger">Delete</button>
    </form>
  <% end %>
</div>
